// Fonts
@font-face {
  font-family: 'Archive';
  src: url('fonts/Archive.eot'); /* IE9 Compat Modes */
  src: url('fonts/Archive.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/Archive.woff') format('woff'), /* Pretty Modern Browsers */
  url('fonts/Archive.ttf')  format('truetype'); /* Safari, Android, iOS */
}

